In [1]:
import selenium
import pandas as pd 
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [50]:
driver= webdriver.Chrome()

In [51]:
driver.get('https://www.shine.com')

In [53]:
designation= driver.find_element(By.XPATH, '/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
designation.send_keys('Data Analyst')

In [54]:
location=driver.find_element(By.XPATH, '/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Banglore')

In [55]:
search=driver.find_element(By.XPATH, '/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search.click()

In [56]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [64]:
title_tags=driver.find_elements(By.XPATH, '//h2[@itemprop="name"]')
for i in title_tags:
    title=i.text
    job_title.append(title)

In [65]:
location_tags= driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location=i.text
    job_location.append(location)

In [69]:
company_tags=driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    company=i.text
    company_name.append(company)

In [71]:
experience_tags=driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    experience=i.text
    experience_required.append(experience)

In [72]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

20 20 40 20

In [74]:
df= pd.DataFrame({'Job_title':job_title[:10], 'Job_location': job_location[:10], 'Company_name': company_name[:10], 'Experience_required':experience_required[:10]})
df

,Job_title,Job_location,Company_name,Experience_required
0,Marketing Data Analyst,Bangalore\n+1,<selenium.webdriver.remote.webelement.WebEleme...,2 to 6 Yrs
1,Data Analyst Recruitment,Oman\n+13,<selenium.webdriver.remote.webelement.WebEleme...,0 to 4 Yrs
2,Data Analyst,Bangalore\n+9,<selenium.webdriver.remote.webelement.WebEleme...,0 to 1 Yr
3,Vacancy For Data Analyst,Oman\n+13,<selenium.webdriver.remote.webelement.WebEleme...,0 to 4 Yrs
4,Project Coordinator (Data Analyst) Bangalore,Bangalore,<selenium.webdriver.remote.webelement.WebEleme...,2 to 4 Yrs
5,Project Coordinator (Data analyst) Bangalore,Bangalore,<selenium.webdriver.remote.webelement.WebEleme...,2 to 4 Yrs
6,Business Data Analyst - Modeling & Profiling,Bangalore,<selenium.webdriver.remote.webelement.WebEleme...,2 to 6 Yrs
7,Data analyst - Java / Python,Bangalore,<selenium.webdriver.remote.webelement.WebEleme...,5 to 10 Yrs
8,Data Analyst - Java/Python,Bangalore,<selenium.webdriver.remote.webelement.WebEleme...,2 to 6 Yrs
9,Data Analyst - SQL/ Database Maintenance,Bangalore,<selenium.webdriver.remote.webelement.WebEleme...,2 to 6 Yrs

question- 2

In [99]:
driver= webdriver.Chrome()

In [100]:
driver.get('https://www.shine.com')

In [101]:
designation=driver.find_element(By.XPATH, '/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
designation.send_keys('Data Scientist')

In [102]:
location=driver.find_element(By.XPATH, '/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [104]:
search=driver.find_element(By.XPATH, '/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search.click()

In [105]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [106]:
title_tags=driver.find_elements(By.XPATH, '//h2[@itemprop="name"]')
for i in title_tags:
    title=i.text
    job_title.append(title)

In [114]:
location_tags=driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]' )
for i in location_tags:
    location=i.text
    job_location.append(location)

In [108]:
company_tags=driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    company=i.text
    company_name.append(company)

In [112]:
experience_tags=driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    experience=i.text
    experience_required.append(experience)

In [115]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

20 20 20 20

In [116]:
df= pd.DataFrame({'Job_title':job_title[:10], 'Job_location': job_location[:10], 'Company_name': company_name[:10], 'Experience_required':experience_required[:10]})
df

,Job_title,Job_location,Company_name,Experience_required
0,Data scientist,Bangalore\n+8,capgemini technology services india...,6 to 11 Yrs
1,Data Scientist - Business Intelligence,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
2,Data Scientist for Bangalore,Bangalore,get hired,0 to 3 Yrs
3,Data Scientist - Spark/Python/Redshift,Bangalore,boyen haddin consulting and technol...,4 to 8 Yrs
4,Data Scientist - Machine Learning,Bangalore,boyen haddin consulting and technol...,2 to 4 Yrs
5,Hiring For Data Scientist,Bangalore\n+13,kavya interprises,0 to 4 Yrs
6,Hiring For Data Scientist,Bangalore\n+13,kavya interprises,0 to 4 Yrs
7,Data Scientist,Bangalore,ibm india pvt. limited,10 to 12 Yrs
8,Data Scientist- Associate,Bangalore,jpmorgan,4 to 6 Yrs
9,Data Scientist Vacancy,Bangalore\n+14,divya interprises,0 to 4 Yrs

question 3

In [117]:
driver= webdriver.Chrome()

In [118]:
driver.get('https://www.shine.com')

In [119]:
designation=driver.find_element(By.XPATH, '/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
designation.send_keys('Data Scientist')

In [120]:
location=driver.find_element(By.XPATH, '/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Delhi/NCR')

In [121]:
search=driver.find_element(By.XPATH, '/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search.click()

In [134]:
location=driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[1]/input')
location.send_keys('Delhi')

In [135]:
search=driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[2]/span/label')
search.click()

In [136]:
search=driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]')
search.click()

In [131]:
Salary=driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[1]/input')
Salary.send_keys('3 to 5 lakh')

In [132]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[2]/span/label' )
search.click()

In [133]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]' )
search.click()

In [137]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [138]:
title_tags=driver.find_elements(By.XPATH, '//h2[@itemprop="name"]')
for i in title_tags:
    title=i.text
    job_title.append(title)

In [139]:
location_tags=driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]' )
for i in location_tags:
    location=i.text
    job_location.append(location)

In [140]:
company_tags=driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    company=i.text
    company_name.append(company)

In [141]:
experience_tags=driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    experience=i.text
    experience_required.append(experience)

In [142]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

20 20 20 20

In [143]:
df= pd.DataFrame({'Job_title':job_title[:10], 'Job_location': job_location[:10], 'Company_name': company_name[:10], 'Experience_required':experience_required[:10]})
df

,Job_title,Job_location,Company_name,Experience_required
0,Data Scientist for Delhi,Delhi,get hired,0 to 3 Yrs
1,Data Scientist- Delhi,Delhi,the fashion cosmo,0 to 3 Yrs
2,Data Scientist-Delhi,Delhi,shiva hr services,0 to 3 Yrs
3,Data Scientist- Delhi,Delhi,the fashion cosmo,0 to 3 Yrs
4,Data Scientist- Delhi,Delhi,the fashion cosmo,0 to 3 Yrs
5,Clinical Data Management,Delhi\n+6,techno endura,0 to 1 Yr
6,Data Engineer,Delhi,employberry consultants,4 to 6 Yrs
7,Biostatisticians,Delhi\n+8,quiscon biotech,0 to 1 Yr
8,Clinical Data Manager,Delhi\n+6,techno endura,0 to 1 Yr
9,Work Full/part-time / Work From Home / Compute...,Delhi\n+4,desnor destination pvt. ltd.,0 to 4 Yrs

## Question-4

In [175]:
driver= webdriver.Chrome()

In [176]:
driver.get('https://www.flipkart.com/')

In [178]:
product=driver.find_element(By.XPATH, '/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input')
product.send_keys('Sunglasses')

In [182]:
search=driver.find_element(By.XPATH, '/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')
search.click()

In [214]:
brand_name=[]
product_description=[]
price=[]

In [235]:
start=0
end=3
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    for i in brand_tags:
        brand_name.append(i.text)
    search=driver.find_element(By.XPATH, '/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    search.click()
    time.sleep(5)

In [239]:
start=0
end=3
for page in range(start,end):
    product_tags=driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    for i in product_tags:
        product_description.append(i.text)
    search=driver.find_element(By.XPATH, '/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    search.click()
    time.sleep(5)

In [240]:
start=0
end=3
for page in range(start,end):
    price_tags=driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
    for i in price_tags:
        price.append(i.text)
    search=driver.find_element(By.XPATH, '/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    search.click()
    time.sleep(5)

In [241]:
print(len(brand_name),len(product_description),len(price))

641 178 200

In [242]:
df = pd.DataFrame({'Brand':brand_name[:100],'Description':product_description[:100],'Prices':price[:100]})
df

,Brand,Description,Prices
0,ROYAL SON,Mirrored Aviator Sunglasses (58),₹339
1,ROYAL SON,"Polarized, UV Protection Retro Square Sunglass...",₹594
2,SRPM,UV Protection Wayfarer Sunglasses (50),₹149
3,Fastrack,UV Protection Wayfarer Sunglasses (58),₹549
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹449
...,...,...,...
95,PIRASO,"Polarized, UV Protection Aviator Sunglasses (60)","₹2,629"
96,SKYZA INDIA,Polarized Butterfly Sunglasses (54),₹645
97,ROYAL SON,"UV Protection, Gradient Butterfly, Over-sized ...",₹745
98,The Tinted Story,Gradient Aviator Sunglasses (62),"₹8,308"
99,ROADWAY,"Polarized, UV Protection Wayfarer Sunglasses (62)",₹899

# question - 5

In [247]:
driver= webdriver.Chrome()

In [248]:
driver.get('https://www.flipkart.com/apple-iphone-11-white-64-gb/product-reviews/itmfc6a7091eb20b?pid=MOBFWQ6BVWVEH3XE&lid=LSTMOBFWQ6BVWVEH3XESAHPTP&marketplace=FLIPKART')

In [272]:
ratings=[]
review_summary=[]
full_review=[]

In [ ]:
start=0
end=3
for page in range(start,end):
    rating_tags=driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1rdVr6 _1BLPMq"]')
    for i in rating_tags:
        ratings.append(i.text)
    search=driver.find_element(By.XPATH, '/html/body/div/div/div[3]/div/div/div[2]/div[9]/div/div/nav/a[12]')
    search.click()
    time.sleep(5)

In [ ]:
start=0
end=3
for page in range(start,end):
    review_tags=driver.find_elements(By.XPATH, '//div[@class="_2d4LTz"]')
    for i in review_tags:
        review_summary.append(i.text)
    search=driver.find_element(By.XPATH, '/html/body/div/div/div[3]/div/div/div[2]/div[8]/div/div/nav/a[12]')
    search.click()
    time.sleep(5)

In [ ]:
start=0
end=3
for page in range(start,end):
    full_review_tags=driver.find_elements(By.XPATH, '//div[@class="_2d4LTz"]')
    for i in review_tags:
        full_review=i.text
        full_review_summary.append(full)
    search=driver.find_element(By.XPATH, '/html/body/div/div/div[3]/div/div/div[2]/div[9]/div/div/nav/a[12]')
    search.click()
    time.sleep(5)

## Question 6

In [2]:
driver=webdriver.Chrome()

In [3]:
driver.get("https://www.flipkart.com")

In [4]:
search=driver.find_element(By.CLASS_NAME,"Pke_EE")
search.send_keys('sneakers')

In [7]:
search=driver.find_element(By.XPATH, '/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')
search.click()

In [8]:
Brand=[]
ProductDescription=[]
Price=[]

In [9]:
#Brand
start=0
end=3
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in titles[0:100]:
        Brand.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)

In [12]:
start=0
end=3
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in titles[0:100]:
        ProductDescription.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)

In [13]:
start=0
end=3
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in titles[0:100]:
        Price.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)

In [14]:
print(len(Brand),len(ProductDescription),len(Price))

120 106 120

In [16]:
df=pd.DataFrame({'Brand':Brand[:100],'ProductDescription':ProductDescription[:100],'Prices':Price[:100]})
df

        Brand                                 ProductDescription  Prices
0      BRUTON                          Serena Sneakers For Women  ₹1,459
1      BRUTON             2 Combo Sneaker Shoes Sneakers For Men  ₹1,459
2    URBANBOX      Combo Pack Of 2 Casual Shoes Sneakers For Men  ₹1,379
3        PUMA  Trending Stylish Casual Outdoor Sneakers Shoes...    ₹326
4        aadi  Puma Men White Black Colourblocked IDP Sneaker...    ₹555
..        ...                                                ...     ...
95   RED TAPE                         Tread Run Sneakers For Men    ₹989
96  Fuoatieec  Lightweight,Comfort,Summer,Trendy,Walking,Outd...  ₹3,450
97     BRUTON  Synthetic| Lightweight| Premiun| Comfort| Summ...  ₹2,070
98   Nobelite                         Wellshore Sneakers For Men  ₹1,369
99   BERSACHE                                   Sneakers For Men    ₹149

[100 rows x 3 columns]

## Questions 7

In [17]:
driver=webdriver.Chrome()

In [18]:
driver.get("https://www.amazon.in/")

In [19]:
Search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
Search.send_keys('Laptop')

In [20]:
Enter=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
Enter.click()

In [22]:
laptop_Title=[]
Rating=[]
Price=[]

In [23]:
Title_tags=driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-none puis-padding-right-small s-title-instructions-style"]')
for i in Title_tags[0:10]:
    laptop=i.text
    laptop_Title.append(laptop)

In [27]:
rating_tags=driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
for i in rating_tags[0:10]:
    rats=i.text
    Rating.append(rats)

In [25]:
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price"]')
for i in price_tags[0:10]:
    rupees=i.text
    Price.append(rupees)

In [28]:
print(len(laptop_Title),len(Rating),len(Price))

10 10 10

In [29]:
df=pd.DataFrame({'laptop_Title':laptop_Title,'Rating':Rating,'Price':Price})
df

                                        laptop_Title Rating    Price
0  Sponsored\nAcer Aspire Lite 12th Gen Intel Cor...         ₹42,990
1  Sponsored\nAcer Extensa 15 Intel Core i3 N305 ...         ₹35,450
2  HP Laptop 15s, 12th Gen Intel Core i3-1215U, 1...         ₹39,490
3  Lenovo V15 Intel Core i3 12th Gen 15.6" (39.62...         ₹33,090
4  ASUS [SmartChoice] Vivobook 15, Intel Celeron ...         ₹26,990
5  HP 15s, AMD Ryzen 3 5300U, 15.6 inch(39.6cm) F...         ₹31,990
6  MSI Modern 15, Intel 11th Gen. i3-1115G4, 40CM...         ₹37,990
7  Lenovo IdeaPad Slim 3 Intel Core i3-1115G4 11t...         ₹35,450
8  (Refurbished) Lenovo ThinkPad 6th Gen Intel Co...         ₹23,990
9  HP Laptop 15s, 12th Gen Intel Core i3-1215U, 1...

## Question 10

In [31]:
driver=webdriver.Chrome()

In [32]:
driver.get("https://www.motor1.com/")

In [33]:
search=driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input')
search.send_keys("50 most expensive cars")

In [34]:
Enter=driver.find_element(By.XPATH,"/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]")
Enter.click()

In [36]:
car_name=[]
price_dollar=[]

In [37]:
title_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in title_tags:
    title=i.text
    car_name.append(title)

In [38]:
value_tags=driver.find_elements(By.XPATH,'//strong["/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[2]/p[4]"]')
for i in value_tags:
    price=i.text
    price_dollar.append(price)

In [39]:
print(len(car_name),len(price_dollar))

0 0

In [40]:
# The content you are looking for doesn't exist yet. To continue, try other site section. Sorry to disappoint you.